Flask==3.0.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg[binary]==3.2.10
SQLAlchemy==2.0.31
Werkzeug==3.0.4
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
blinker==1.9.0
python-dotenv==1.0.1
typing_extensions==4.12.2
